body {
  overflow: auto;
  font-family: 'Century Gothic', sans-serif;
  background-image: url(../img/geometry.jpg);
}

#photoBooth {
  margin-top: .2em;
  padding: 10px;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 2px;
}	

#slideShow {	
  position: relative;
}

.photoHolder {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.moreIndicator {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 300px;
  top: 330px;
  z-index: 3;
  opacity: .8;
  transform: rotate(-90deg);
  transition: 500ms all;
}

.moreIndicator:hover {
  opacity: 0.7;
}

.moreIndicator.active {
  transform: rotate(90deg) !important;
}

.thumbnail {
  position: relative;
  box-shadow: 1px 3px 20px 0px;
}

.banner {
  text-align: center;
  font-size: 1.25em;
}

#nav {
  clear: both;
  position: relative;
}

#prevPhoto, #nextPhoto {
  height: 42px;
  width: 42px;
  transition: 500ms all;
}

#prevPhoto:hover, #nextPhoto:hover {
  opacity: 0.5;
}

#prevPhoto {
  transform: rotate(180deg);
}

#nextPhoto {
  float: right;
}

.details p {
  margin-top: 20px;
}

.details {
  border: 1px #000 dashed;
  padding: 0px 10px;
  margin: 20px 0px;
}
